@font-face {
 font-family: "Avenir Heavy";
 src: url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
}

@font-face {
 font-family: "Avenir Roman";
 src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face {
 font-family: "Avenir Light";
 src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

.header{
    text-align: center;
    background-image: url(../img/background-header.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.text{
    color: #FFF;
    font-size: 16px;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.text h1{
    font-family: "Avenir Heavy", sans-serif;
}

.text p{
    font-family: "Avenir Roman", sans-serif;
    opacity: 0.8;
}

.header img{
    position: absolute;
    top: 2vh;
    left: 2vh;
}

.contact{
    min-height: 50vh;
    text-align: center;
}

.contact .child{
    margin-top: 10vh;
    transform: translateY(-10%); /* tiré de la moitié de sa propre hauteur */
}

.contact .child p{
    text-align: center;
    color: #95989A;
}

.contact img{
    margin-left: 25vw;
    transform: translateX(-50%);
}

@media only screen and (max-width : 768px) { 
    .contact img{
        display: none;
    }
    .contact .child{
        margin-top: 5vh;
    }
}

.contact form input[type=email]{
    border: none;
    border-bottom: grey 1px solid;
    width: 50%;
    outline: none;
    transition: all 1s;
}
.contact form input[type=email]:hover{
    border: none;
    border-bottom: rgb(123, 0, 128) 2px solid;
    width: 50%;
    transition: all 1s;
}

.contact form input[type=submit]{
    border-radius: 50px;
    border: 1.5px solid #BD4097;
    background-color: transparent;
    width: 160px;
    height: 50px;
    color: #BD4097;
    margin-top: 20px;
    outline: none;
}

section ul{
    list-style-type: none;
}

section ul li{
    display: inline-block;
    padding: 0 0.5em;
}

section #copyright{
    position: absolute;
    right: 0;
    line-height: 20px;
    font-size: 10px;
    font-family: "Avenir Roman", sans-serif;
}

.alert{
    border-radius: 0;
    border-color: #BD4097;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    margin-top: 10px;
}